ion-card{
    margin: 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: none;
    width: 30vw;
    height: 70%;
    border-radius: 25px;
    margin: 0 auto;
    border: 1px solid #ff0000;
}

