<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Em Breve</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChange($event.detail.value)">
    <ion-segment-button value="filmes">
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-label>Filmes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="series">
      <ion-icon name="tv-outline"></ion-icon>
      <ion-label>Séries</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list-header>
    <ion-label>Em Breve</ion-label>
  </ion-list-header>

  <div *ngIf="selectedSegment === 'filmes'">
    <ion-list class="result-list" [inset]="true">
      <ion-item *ngFor="let result of upcomingMovies" (click)="navigateToDetailsPage(result.id, 'movie')">
        <img class="list-img" slot="start" [src]="'https://image.tmdb.org/t/p/w500/' + result.poster_path" *ngIf="result.poster_path; else noImage">
        <ion-label>{{ result.title }}</ion-label>
        <ion-checkbox justify="end"><ion-icon name="add-outline"></ion-icon></ion-checkbox>
      </ion-item>
    </ion-list>
    
    <ng-template #noImage>
      <div class="placeholder-img">No Image</div>
    </ng-template>
    
  </div>

  <div *ngIf="selectedSegment === 'series'">
    <ion-list class="result-list" [inset]="true">
      <ion-item *ngFor="let result of upcomingSeries" (click)="navigateToDetailsPage(result.id, 'tv')">
        <img class="list-img" slot="start" [src]="'https://image.tmdb.org/t/p/w500/' + result.poster_path" *ngIf="result.poster_path; else noImage">
        <ion-label>{{ result.name }}</ion-label>
        <ion-checkbox justify="end"><ion-icon name="add-outline"></ion-icon></ion-checkbox>
      </ion-item>
    </ion-list>
    
    <ng-template #noImage>
      <div class="placeholder-img">No Image</div>
    </ng-template>
  </div>
</ion-content>