<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Assistir
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="Recomendar">
    <ion-h1 class="Recomendar-text">Recomendações:</ion-h1>
    <swiper-container [slidesperview]="2" [loop]="true">
      <swiper-slide>
        <div class="slide-img"></div>
        <div class="slide-text">
          <p>Wakanda Forever</p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide-img"></div>
        <div class="slide-text">
          <p>Wakanda Forever</p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide-img"></div>
        <div class="slide-text">
          <p>Wakanda Forever</p>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="slide-img"></div>
        <div class="slide-text">
          <p>Wakanda Forever</p>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>