.img-list {
  width: 100vw;
  height: 18vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../assets/image/wakandaforever.jpg);
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid #ff0000;
}

.name-list {
  position: absolute;
  width: 70vw;
  margin-left: 10px;
  bottom: 5px;
}