<ion-header>
  <ion-toolbar>
    <ion-title>
      Explorar
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="onSearch()" debounce="500" show-clear-button="always" clear-icon="trash-bin" placeholder="Pesquisar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="results.length > 0">
    <ion-item *ngFor="let result of results">
      <ion-thumbnail slot="start">
        <img
          *ngIf="result.poster_path"
          [src]="'https://image.tmdb.org/t/p/w500' + result.poster_path"
          alt="Poster"
        />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ result.title || result.name }}</h2>
        <p>{{ result.media_type | titlecase }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-text *ngIf="results.length === 0 && searchTerm.trim()">
    <p>Nenhum resultado encontrado.</p>
  </ion-text>
  <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChange($event.detail.value)">
    <ion-segment-button value="filmes">
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-label>Filmes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="series">
      <ion-icon name="tv-outline"></ion-icon>
      <ion-label>Séries</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedSegment === 'filmes'">
    <div class="slide">
      <ion-h1 (click)="navigateTo('tab2')" class="slide-title"><span>Populares</span><ion-icon
          name="chevron-forward-outline"></ion-icon></ion-h1>
      <swiper-container [slidesPerView]="2.5" [loop]="false">
        <swiper-slide *ngFor="let movie of populares">
          <div class="slide-img"
            [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w780/' + movie.poster_path + ')'}">
            <div class="add-list"><ion-checkbox justify="end"><ion-icon name="add-outline"></ion-icon></ion-checkbox>
            </div>
          </div>
          <div class="slide-text">
            <p>{{ movie.title }}</p>
          </div>
        </swiper-slide>
        <swiper-slide class="last-slide">
          <div class="slide-img" [ngStyle]="{'background-color': '#000000'}">
            <div class="ver-mais">
              <ion-icon size="large" name="library-outline"></ion-icon>
              <p>Ver Mais</p>
            </div>
          </div>
          <div class="slide-text">
            <p></p>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>

    <div class="slide">
      <ion-h1 (click)="navigateTo('tab2')" class="slide-title"><span>Em Alta</span><ion-icon
          name="chevron-forward-outline"></ion-icon></ion-h1>
      <swiper-container [slidesPerView]="2.5" [loop]="false">
        <swiper-slide *ngFor="let movie of trending">
          <div class="slide-img"
            [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w780/' + movie.poster_path + ')'}">
            <div class="add-list"><ion-checkbox justify="end"><ion-icon name="add-outline"></ion-icon></ion-checkbox>
            </div>
          </div>
          <div class="slide-text">
            <p>{{ movie.title }}</p>
          </div>
        </swiper-slide>
        <swiper-slide class="last-slide">
          <div class="slide-img" [ngStyle]="{'background-color': '#000000'}">
            <div class="ver-mais">
              <ion-icon size="large" name="library-outline"></ion-icon>
              <p>Ver Mais</p>
            </div>
          </div>
          <div class="slide-text">
            <p></p>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>

    <div *ngFor="let genre of randomGenres" class="slide">
      <ion-h1 (click)="navigateTo('tab2')" class="slide-title"><span>{{ genre.genre }}</span><ion-icon
          name="chevron-forward-outline"></ion-icon></ion-h1>
      <swiper-container [slidesPerView]="2.5" [loop]="false">
        <swiper-slide *ngFor="let movie of genre.movies">
          <div class="slide-img"
            [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w780/' + movie.poster_path + ')'}">
            <div class="add-list"><ion-checkbox justify="end"><ion-icon name="add-outline"></ion-icon></ion-checkbox>
            </div>
          </div>
          <div class="slide-text">
            <p>{{ movie.title }}</p>
          </div>
        </swiper-slide>
        <swiper-slide class="last-slide">
          <div class="slide-img" [ngStyle]="{'background-color': '#000000'}">
            <div class="ver-mais">
              <ion-icon size="large" name="library-outline"></ion-icon>
              <p>Ver Mais</p>
            </div>
          </div>
          <div class="slide-text">
            <p></p>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>

  <div *ngIf="selectedSegment === 'series'">
    <div class="slide">
      <ion-h1 (click)="navigateTo('tab2')" class="slide-title"><span>Populares</span><ion-icon
          name="chevron-forward-outline"></ion-icon></ion-h1>
      <swiper-container [slidesPerView]="2.5" [loop]="false">
        <swiper-slide *ngFor="let series of seriesPopulares">
          <div class="slide-img"
            [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w780/' + series.poster_path + ')'}">
            <div class="add-list"><ion-checkbox justify="end"><ion-icon name="add-outline"></ion-icon></ion-checkbox>
            </div>
          </div>
          <div class="slide-text">
            <p>{{ series.name }}</p>
          </div>
        </swiper-slide>
        <swiper-slide class="last-slide">
          <div class="slide-img" [ngStyle]="{'background-color': '#000000'}">
            <div class="ver-mais">
              <ion-icon size="large" name="library-outline"></ion-icon>
              <p>Ver Mais</p>
            </div>
          </div>
          <div class="slide-text">
            <p></p>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>

    <div class="slide">
      <ion-h1 (click)="navigateTo('tab2')" class="slide-title"><span>Em Alta</span> <ion-icon
          name="chevron-forward-outline"></ion-icon></ion-h1>
      <swiper-container [slidesPerView]="2.5" [loop]="false">
        <swiper-slide *ngFor="let series of seriesTrending">
          <div class="slide-img"
            [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w780/' + series.poster_path + ')'}">
            <div class="add-list"><ion-checkbox justify="end"><ion-icon name="add-outline"></ion-icon></ion-checkbox>
            </div>
          </div>
          <div class="slide-text">
            <p>{{ series.name }}</p>
          </div>
        </swiper-slide>
        <swiper-slide class="last-slide">
          <div class="slide-img" [ngStyle]="{'background-color': '#000000'}">
            <div class="ver-mais">
              <ion-icon size="large" name="library-outline"></ion-icon>
              <p>Ver Mais</p>
            </div>
          </div>
          <div class="slide-text">
            <p></p>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>

    <div *ngFor="let genre of randomSeriesGenres" class="slide">
      <ion-h1 (click)="navigateTo('tab2')" class="slide-title"><span>{{ genre.genre }}</span><ion-icon
          name="chevron-forward-outline"></ion-icon></ion-h1>
      <swiper-container [slidesPerView]="2.5" [loop]="false">
        <swiper-slide *ngFor="let serie of genre.series">
          <div class="slide-img"
            [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w780/' + serie.poster_path + ')'}">
            <div class="add-list"><ion-checkbox justify="end"><ion-icon name="add-outline"></ion-icon></ion-checkbox>
            </div>
          </div>
          <div class="slide-text">
            <p>{{ serie.name }}</p>
          </div>
        </swiper-slide>
        <swiper-slide class="last-slide">
          <div class="slide-img" [ngStyle]="{'background-color': '#000000'}">
            <div class="ver-mais">
              <ion-icon size="large" name="library-outline"></ion-icon>
              <p>Ver Mais</p>
            </div>
          </div>
          <div class="slide-text">
            <p></p>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>

  </div>
</ion-content>