<ion-content>
  <div *ngIf="itemDetails" class="details">
    <!-- Backdrop com imagem -->

    <div class="divheader">
      <ion-icon class="voltar" size="large" name="arrow-back-circle" color="dark" routerDirection="back" (click)="goBack()"></ion-icon>
      <img *ngIf="itemDetails.backdrop_path" [src]="'https://image.tmdb.org/t/p/w780/' + itemDetails.backdrop_path"
        alt="{{ itemDetails.title || itemDetails.name }}" class="backdrop-img" />
      <!-- Título com fundo transparente -->
      <h1 class="title-overlay">{{ itemDetails.title || itemDetails.name }}</h1>
    </div>

    <div class="infos">
      <!-- Data de lançamento -->
      <p>Lançamento: {{ itemDetails.release_date || itemDetails.first_air_date }}</p>
      <!-- Classificação indicativa -->
      <p>Classificação: {{ itemDetails.adult ? '18+' : 'Livre' }}</p>
    </div>

    <!-- Sinopse -->
    <p>{{ itemDetails.overview }}</p>

    <!-- Avaliação -->
    <p>Avaliação: {{ itemDetails.vote_average }}</p>

<div class="actions">
  <ion-buttons>
    <ion-tab-button (click)="navigateTo('tab1')">
      <ion-icon name="add"></ion-icon>
      <ion-label>Adicionar à lista</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="navigateTo('tab1')">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Adicionar aos Favoritos</ion-label>
    </ion-tab-button>
  </ion-buttons>
</div>

    <!-- Elenco -->
    <div class="slide" *ngIf="cast?.length">
      <ion-h1 class="slide-title"><span>Elenco</span><ion-icon name="chevron-forward-outline"></ion-icon></ion-h1>
      <swiper-container [slidesPerView]="2.8" [loop]="false">
        <swiper-slide *ngFor="let actor of cast">
          <div class="slide-img"
            [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w780/' + actor.profile_path + ')'}">
          </div>
          <div class="slide-text">
            <p>{{ actor.name }}</p>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>

    <!-- Recomendações -->

    <div class="slide" *ngIf="recommendations?.length">
      <ion-h1 (click)="navigateTo('tab2')" class="slide-title">
        <span>Recomendações</span>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-h1>
      <swiper-container [slidesPerView]="2.5" [loop]="false">
        <swiper-slide *ngFor="let recommendation of recommendations">
          <div class="slide-img" (click)="navigateToDetailsPage(recommendation.id, recommendation.media_type)"
            [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/w780/' + recommendation.poster_path + ')'}">
            <div class="add-list">
              <ion-checkbox justify="end"><ion-icon name="add-outline"></ion-icon></ion-checkbox>
            </div>
          </div>
          <div class="slide-text">
            <p>{{ recommendation.title || recommendation.name }}</p>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</ion-content>